<?php
/**
 * @package hackathon76api
 * @author Wixiweb <contact@wixiweb.fr>
 */

return [
    'db' => [
        'driver' => '',
        'dsn' => 'mysql:dbname=;host=',
        'username' => '',
        'password' => '',
        'driver_options' => [],
    ],
];
